* {
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 0 10vw;
    width: 100vw;
    min-height: 100vh;
    background-color: hsl(257, 40%, 49%);
    background-image: url("./images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.topnav {
    padding-top: 10vw;
}

.topnav-icon {
    margin: auto;
    padding: auto;
    height: 35px;
}

.main {
    margin: 50px 0;
    text-align: center;
}

#mockups-img {
    max-width: 80vw;
    max-height: 400px;
    margin-bottom: 50px;
}

#landing-txt>h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    margin: auto;
}

#landing-txt>p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6em;
    margin: 16px auto 24px;
}

#register-button {
    background-color: hsl(0, 0%, 100%);
    color: hsl(257, 40%, 49%);
    box-shadow: 2px 3px 6px hsla(0, 0%, 0%, 0.363);
    border: none;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.75em;
    height: 40px;
    width: 200px;
    margin: 0;
}

.register-button:hover {
    background-color: hsl(300, 69%, 71%);
    color: hsl(0, 0%, 100%)
}

footer {
    margin: 10px auto;
    text-align: center;
}

.social-media-links {
    margin-top: 60px;
    margin-bottom: 20px;
}

.social-media-icon {
    vertical-align: center;
    color: hsl(0, 0%, 100%);
}

.social-media-icon:hover {
    color: hsl(300, 69%, 71%);
}

.attribution {
    font-size: 11px;
    margin: auto;
}

.attribution a {
    color: hsl(0, 0%, 100%);
}

@media (min-width: 768px) {
    body {
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
}

@media (min-width: 1200px) {
    body {
        background-image: url("./images/bg-desktop.svg");
        padding: 0 60px;
    }

    .topnav {
        padding-top: 60px;
    }

    .topnav-icon {
        height: 60px;
    }

    .main {
        display: grid;
        grid-template-columns: auto auto;
        text-align: left;
        grid-gap: 50px;
        margin-bottom: auto;
    }

    #mockups-img {
        max-width: 80vw;
        max-height: 1000px;
        margin: auto;
    }

    #landing-txt {
        padding-top: 40px;
    }

    #landing-txt>h1 {
        font-size: 2.4em;
    }

    #landing-txt>p {
        font-size: 1em;
    }

    #register-button {
        border-radius: 25px;
        font-size: 1em;
        height: 50px;
        width: 200px;
    }

    footer {
        text-align: right;
        margin: auto auto 60px;
    }

    .social-media-links {
        margin-top: auto;
    }
}